/* dashboard.module.css */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.left {
  flex: 1;
}

.right {
  display: flex;
  gap: 10px;
}

h1 {
  font-size: 24px;
  margin: 0;
}

p {
  font-size: 18px;
  margin: 0;
}


.monthSelector {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
    background-color: #007bff;
    color: white;
    margin-left: 10px;
    border-radius: 4px !important;
    cursor: pointer;
    border: none;
}

button:hover {
  background-color: #0056b3;
  color: #fff;
}

.react-calendar-heatmap {
  font-size: 0.4rem; 
  width: 0px;
  display: inline-block;
}

.react-calendar-heatmap .color-empty {
  fill: #ebedf0; 
}

.react-calendar-heatmap .color-scale-0 {
  fill: #ebedf0;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #44a340; 
}

.react-calendar-heatmap rect {
  stroke-width: 1px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 2px;
}

.react-calendar-heatmap .week {
  margin: 1px; 
}

.heatmapContainer {
  width: 350px; 
  height: 420px; 
  margin: 0 auto; 
  background-color: #ffffff; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

